<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.douzone.doki.repository.MemoRepository">
	<update id="changeColor">
		<![CDATA[
			update memo set color = #{color } where no = #{no }
		]]>
	</update>
	
	<insert id="addMemo" useGeneratedKeys="true" keyProperty="no">
		<![CDATA[
			insert into memo values(null, "테스트16", "red", now(), "0", "0", #{userNo}, #{departmentNo})
		]]>
	</insert>
	
	<insert id="addHash">
		<![CDATA[
			insert into hash values(null, #{hashName})
		]]>
	</insert>
	
	<insert id="addMemoHash">
		<![CDATA[
			insert into memo_hash values(#{no}, #{hashNo})
		]]>
	</insert>
	
	<insert id="addMemoAlarm">
		<![CDATA[
			insert into memo_alarm values(#{no}, #{memoAlarmTime}, #{repetition})
		]]>
	</insert>
	
	<update id="setPin">
		<![CDATA[
			update memo set pin = #{pin } where no = #{no}
		]]>
	</update>
	
	<update id="setImportant">
		<![CDATA[
			update memo set important = #{important } where no = #{no}
		]]>
	</update>
	
	<select id="getListByGroup" resultType="memovo">
		<![CDATA[
			select 	m.no as no, m.contents as contents, m.color as color, m.reg_date as regDate, m.pin as pin,
					m.important as important, m.user_no as userNo, m.department_no as departmentNo, h.name as hashName,
					ma.memo_alarm_time as memoAlarmTime, ma.repetition as repetition
				from memo m 
					left outer join memo_alarm ma on m.no = ma.memo_no 
					left outer join memo_hash mh on m.no = mh.memo_no
					left outer join hash h on h.no = mh.hash_no
				where m.department_no = #{ groupNo }
			 order by m.important desc, m.pin desc, m.reg_date desc
		]]>
	</select>
	
	<select id="getMemoListByHash" resultType="memovo">
		<![CDATA[
			select 	m.no as no, m.contents as contents, m.color as color, m.reg_date as regDate, m.pin as pin,
					m.important as important, m.user_no as userNo, m.department_no as departmentNo, h.name as hashName,
					ma.memo_alarm_time as memoAlarmTime
			from memo m
				left outer join memo_alarm ma on m.no = ma.memo_no 
				left outer join memo_hash mh on m.no = mh.memo_no
				left outer join hash h on h.no = mh.hash_no
			where h.no in (select h.no
						from hash h
					where h.name = #{hashName })
				and mh.hash_no = h.no
				and mh.memo_no = m.no;
		]]>
	</select>
	
	<select id="getAllHashList" resultType="memovo">
	
		<![CDATA[
			select no as hashNo, name as hashName 
				from hash
		]]>
	</select>

	<update id="modifyMemo">
		<![CDATA[
			update memo set 
				contents=#{contents}
			    where no = #{no};
		]]>
	</update>
	
	<select id="findMemo" parameterType="Long" resultType="memovo">
		<![CDATA[
 			select 	m.no as no, m.contents as contents, m.color as color, m.reg_date as regDate, m.pin as pin,
					m.important as important, m.user_no as userNo, m.department_no as departmentNo,
					ma.memo_alarm_time as memoAlarmTime, ma.repetition as repetition
				from memo m, memo_alarm ma
                where m.no = ma.memo_no
                  and m.no= #{no}
		]]>
	</select>
	
	
</mapper>